<% if (lists.length == 0 || lists == null) { %>
    <h1>There are no lists available!</h1>
<% } else { %>
    <div class="grid">
        <% lists.forEach( list => { %>
            <div class="cell">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="flip-inner">
                            <div class="blocked">
                            </div>
                            <div class="flip-content">
                                <% list.items.forEach( item => { %>
                                    <h5 class="card-title"><%= item.name %> x <%= item.qty %></h5>
                                <% }) %>  
                                <h6 class="card-subtitle mb-2 text-muted"></h6>@<%= list.ownedBy.name.toLowerCase(); %></h6> 
                            </div>
                        </div>

                        <% if (list.status == 0) { %>
                            <form action="/list/help/<%= list._id %>" method="post">   
                                <button class="btn btn-primary" type="submit">Help</button>
                            </form>
                        <% } else if (list.status == 1) { %> 
                            <p class="text-warning card-text">In progress</p>
                        <% } else if (list.status == 2) { %>
                            <p class="text-success card-text">Fulfilled</p>
                        <% } %> 

                    </div>
                </div>
            </div>
        <% }) %>  
    </div>
<% } %>